# Data Structures

This Notebook includes the following contents:

* list
  
  -- `CRUD`

* list built-in functions

  -- `append()` , `insert()` , `extend()` , `remove()` , `pop()` , `sort()` , `reverse()` , `in` , `index()` , `max()` , `min()` , `sum()`

* Nested Lists
* Tuples
* Sets
* Set built-in functions

  -- `add()` , `update()` , `pop()` , `remove()` , `discard()` , `union()` , `intersection()` , `difference()` , `symmetric_difference()` , `in`

* Dictionary
* Dictionary built-in functions

  -- `pop()` , `popitem()` , `keys()` , `values()` , `update()` , `in`

# Lists

* Lists are one of the most versatile data structures in Python. A list can contain any sort of object: numbers, strings, and even other lists.

* Lists are mutable, meaning they can be modified after they are created.

* We can create a list by enclosing a comma-separated sequence of elements in square brackets [ ].

*   Ordered: The items in a list have a specific order, and that order doesn't change unless you modify the list.

*   Changable: You can change, add, or remove items after the list is created.

*   Allows Duplicates: Lists can have items that are the same, so duplicates are allowed.


---
CRUD Operations
   - Create: `lst = [1, 2, 3, 4, 5]`
   - Read: `lst[0]` (This returns the first element of the list.)
   - Update: `lst[0] = 10` (This changes the first element to 10.)
   - Delete: `del lst[0]` (This removes the first element from the list.)

In [ ]:
lst=[[[1],[2],[3]],[[4],[5],[6]],[[7],[8],[9]]]
print(lst[2][1][0])  
print(lst[0][0][0],lst[1][0][0], lst[2][0][0])

8
1 4 7

In [9]:
lst=[0,1,2,3]
lst[0]=10
lst

[10, 1, 2, 3]

In [27]:
# Create an empty list
my_list = list() # or my_list = list([])
print(type(my_list))
my_list

<class 'list'>

[]

In [28]:
my_list = list(1) #this will raise an error because list() expects an iterable, not a single integer
my_list = list([1]) #is the correct way to create a list with one element

TypeError: 'int' object is not iterable

In [19]:
# list creation
items = ["Banana", "Apple" , "Mango", "Banana"]
print(type(items))
print(f"items are {items}")
print(f"items are {items[0]} , {items[1]} , {items[2]} , {items[3]}")

<class 'list'>
items are ['Banana', 'Apple', 'Mango', 'Banana']
items are Banana , Apple , Mango , Banana

In [31]:
# Count the number of elements inside the list
items = ["Banana", "Apple" , "Mango", "Banana" , "" ,5]
print(f"the number of elements inside the list is {len(items)}")

the number of elements inside the list is 6

In [32]:
#Read
items = ["Banana", "Apple" , "Mango", "Apple"]
print(items[0])

Banana

In [35]:
items = ["Banana", "Apple" , "Mango", "Apple"]

# Accessing Elements

# to access the first element
print("first element is", items[0]) # Indexing in python starts at zero NOT ONE
print("--------------------------------------------------")

# of course we can store it in a varibale
first_item = items[0] # ?
print(f"first element is {first_item}")
print("--------------------------------------------------")

# to access the last element
print(f"last element is {items[-1]}")
print("--------------------------------------------------")
# store it in a variable

last_item = items[-1] #or items[len(items)-1]
print(f"last element is {last_item}")
print("--------------------------------------------------")

first element is Banana
--------------------------------------------------
first element is Banana
--------------------------------------------------
last element is Apple
--------------------------------------------------
last element is Apple
--------------------------------------------------

In [43]:
# Slicing list we use : to slice
print(f"subset items {items[:2]}") # note that it starts from zero until one (2 - 1)
print("--------------------------------------------------")
# store it in a variable
sub_items = items[:2]

print(f"subset items {sub_items}")
print("--------------------------------------------------")
print(f"subset items {items[-3:-1]}")
print("--------------------------------------------------")
print(f"items {items[-4:]}")

subset items ['Banana', 'Apple']
--------------------------------------------------
subset items ['Banana', 'Apple']
--------------------------------------------------
subset items ['Apple', 'Mango']
--------------------------------------------------
items ['Banana', 'Apple', 'Mango', 'Apple']

In [44]:
# Update
items = [10,"bob", 45.5, True, "$", 500, 0]
items[0] = "batool"
print(items)

['batool', 'bob', 45.5, True, '$', 500, 0]

In [45]:
# updating elements

#update the first element
items[0] = 12
print(f"items after updating first element ---> {items}")

items after updating first element ---> [12, 'bob', 45.5, True, '$', 500, 0]

In [47]:
items[0]=[1,2,3]
print(f"items after updating first element to a list ---> {items}")

items after updating first element to a list ---> [[1, 2, 3], 13, 'desk', True, '$', 500, 0]

In [48]:
# update multiple elements

items[1:3] = [13, "desk"]
print(f"items after updating multiple elements ---> {items}")

items after updating multiple elements ---> [[1, 2, 3], 13, 'desk', True, '$', 500, 0]

In [49]:
# Delete element/s

del items[0]
print(items)

[13, 'desk', True, '$', 500, 0]

In [51]:
# Delete list

lst = [1,2,3]
del lst
print(lst)  # This will raise an error because lst has been deleted

NameError: name 'lst' is not defined



---


Task #1:

Define a list of 6 items and print the number of items inside the list, second element, second last element and use slicing to print out the second element until the third one.

---

In [57]:
lst=[15,'banana',['a','b','c'],19.8,False,'hello']
print(f"The number of items inside the list is {len(lst)}")
print(f"The second element is {lst[1]}")
print(f"The second last element is {lst[-2]}")
print(f"The second and third elements are {lst[1:3]}")

The number of items inside the list is 6
The second element is banana
The second last element is False
The second and third elements are ['banana', ['a', 'b', 'c']]

# list built-in functions

In [69]:
items = [10,"bob", 45.5, True, "$", 500, 0]

In [65]:
# Adding elements to lists using (append)

items.append(30) # note that you can't append multiple items and it appends to the end of the list
items.append([1,5,54])
print(f"items after appending ---> {items}")

items after appending ---> [10, 'bob', 45.5, True, '$', 500, 0, 30, [1, 5, 54], 30, [1, 5, 54]]

In [67]:
# Adding element into a certain position (insert)

items.insert(2, "friends")
items.insert(0, "good morning")
print(f"items after inserting ---> {items}")

items after inserting ---> ['good morning', 10, 'bob', 'friends', 'friends', 45.5, True, '$', 500, 0, 30, [1, 5, 54], 30, [1, 5, 54]]

In [ ]:
# Add multi-elements to end the list (extend)

items.extend([6, 1, True]) #appends to the end of the list
print(f"items after extending ---> {items}")

items after extending ---> [10, 'bob', 45.5, True, '$', 500, 0, 6, 1, True]

In [71]:
# removing items

items.remove("bob") # it removes only one element
print(f"items after removing ---> {items}")

items after removing ---> [10, 45.5, True, '$', 500, 0, 6, 1, True]

In [72]:
# removing items

items.pop() # by default it removes the last item
print(f"items after removing using pop function ---> {items}")

items after removing using pop function ---> [10, 45.5, True, '$', 500, 0, 6, 1]

In [73]:
# Note that you can store the popped value into a variable
popped_value = items.pop()

print(f"popped value is {popped_value}")
print("--------------------------------------")
print(f"items after removing using pop function ---> {items}")

popped value is 1
--------------------------------------
items after removing using pop function ---> [10, 45.5, True, '$', 500, 0, 6]

In [77]:
popped_value = items.pop(1) # you can also specify the index of the item to be removed

print(f"popped value is {popped_value}")
print("--------------------------------------")
print(f"items after removing using pop function ---> {items}")

popped value is 45.5
--------------------------------------
items after removing using pop function ---> [10, True, '$', 500, 0, 6]

In [78]:
batool = ["buy coffee", "call mom", "finish report"]

In [79]:
print(batool.pop())
print(batool)

finish report
['buy coffee', 'call mom']

In [80]:
# why pop ?

items = ["buy coffee", "call mom", "finish report"]
popped_item = items.pop(1)

print(popped_item)

print(items)
x = items.pop(0)
print(x)
print(items)

call mom
['buy coffee', 'finish report']
buy coffee
['finish report']



---

Task #2:

Define a list of numbers [1,2,3] and then use append method to add 4 and use insert to add 5 at position 1 expected output [1,5,2,3,4]


---

In [81]:
my_list = [1, 2, 3,]
my_list.append(4)
my_list.insert(1, 5)
print(my_list)

[1, 5, 2, 3, 4]

In [82]:
# sorting lists
my_list = [100,4,2,50,87,95]

# Sorting using sort() function
my_list.sort()
print(f"after sorting ---> {my_list} ")

after sorting ---> [2, 4, 50, 87, 95, 100]

In [83]:
my_list.sort(reverse= True)
print(f"after sorting ---> {my_list} ")

after sorting ---> [100, 95, 87, 50, 4, 2]

In [84]:
names = ["Omar", "Mohammad", "Ammar"]
names.sort()
print(names)

['Ammar', 'Mohammad', 'Omar']

In [85]:
# Reverse list
lst = [3,2,3,10,5,7]

lst.reverse()
print(lst)

[7, 5, 10, 3, 2, 3]

In [89]:
# Check if a specific element exists in a list
values = ["data" , 'sql', 'ML']

print("data" in values)
print("python" in values)
print("DATA" in values)

True
False
False

In [91]:
# Find the index of a specific element in list

values = ["data" , 'sql', 'ML']
print(values.index("data"))
print(values.index("Data")) # This will raise an error because "Data" is not in the list

0

ValueError: 'Data' is not in list

In [92]:
# another built-in functions

lst = [20,10,15]

# sum : to sum the elements

print("sum of elements is ", sum(lst))

# max: max number of the list
max_lst = max(lst)
print(f"maximum number is {max_lst}")

# min: min number of the list
min_lst = min(lst)
print(f"minimum number is {min_lst}")

sum of elements is  45
maximum number is 20
minimum number is 10

In [95]:
lst = [15.3, 10.5, 20.12]

# sum : to sum the elements

print("sum of elements is ", sum(lst))

# max: max number of the list
max_lst = max(lst)
print(f"maximum number is {max_lst}")

# min: min number of the list
min_lst = min(lst)
print(f"minimum number is {min_lst}")

sum of elements is  45.92
maximum number is 20.12
minimum number is 10.5

In [94]:
lst = ["1", "2", "3", "4"]

# sum : to sum the elements

print("sum of elements is ", sum(lst))

# max: max number of the list
max_lst = max(lst)
print(f"maximum number is {max_lst}")

# min: min number of the list
min_lst = min(lst)
print(f"minimum number is {min_lst}")

TypeError: unsupported operand type(s) for +: 'int' and 'str'

# Nested List

In [96]:
lst = [1, [4,5,6] , ["mark" , 'bob', 'ross']]

print(lst[1][1])

5

In [97]:
print(lst[0][0])

TypeError: 'int' object is not subscriptable

In [99]:
print(lst[2][0])

mark

In [100]:
print(lst[2][0][1])

a

In [107]:
# Schedule for a week
schedule = [
    ["Meeting with team", "Code review", "Lunch with client"], # Sunday
    ["Project planning", "Write documentation"],               # Monday
    ["Development", "Team stand-up", "Client call"],           # Tuesday
    ["Testing", "Bug fixing", "Team meeting"],                 # Wednesday
    ["Deployment", "Write report"],                            # Thursday
    ["Weekend break"],                                         # Friday
    ["Weekend break"]                                          # Saturday
]

# accessing tasks for a specific day
Tuesday_tasks = schedule[2]
Saturday_tasks = schedule[6]
print("Tuesday's tasks:", Tuesday_tasks)
print("Saturday's tasks:", Saturday_tasks)

Tuesday's tasks: ['Development', 'Team stand-up', 'Client call']
Saturday's tasks: ['Weekend break']

In [108]:
# adding a new task to Wednesday
schedule[3].append("Prepare presentation")
print("Wednesday's updated tasks:", schedule[3])

Wednesday's updated tasks: ['Testing', 'Bug fixing', 'Team meeting', 'Prepare presentation']

In [109]:
# removing a task from Sunday
schedule[0].remove("Lunch with client")
print("Sunday's updated tasks:", schedule[0])

Sunday's updated tasks: ['Meeting with team', 'Code review']



---

Task #3:

You have the following nested list: nested_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]


1.   Access the number 5 from the nested list and assign it to a variable named number, print the variable number.
2.   Append number 10 to the last list inside nested_list, Print the updated nested_list.

In [112]:
nested_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
# 1
number = nested_list[1][1]
print(f"The number is: {number}")
# 2
nested_list[2].append(10)
print(f"The updated nested list is: {nested_list}")

The number is: 5
The updated nested list is: [[1, 2, 3], [4, 5, 6], [7, 8, 9, 10]]

# Tuples

*   Python tuples use parentheses () to contain and organize items.

*   Ordered: Items are arranged in a specific sequence.

*  Unchangeable: Once created, you cannot modify, add, or remove items in a tuple.

*   Allows Duplicates: You can have multiple identical items in a tuple.


---
CRUD Operations
   - Create: `t = (1, 2, 3, 4, 5)`
   - Read: `t[0]` (This returns the first element of the tuple.)
   - Update: Tuples are immutable, so they cannot be updated. However, we can concatenate them or reassign the variable.
   - Delete: `del t` (You can't delete an element of a tuple, but you can delete the entire tuple.)

In [113]:
# Create an empty tuple

my_tuple = tuple()
print(type(my_tuple))

<class 'tuple'>

In [132]:
my_tuple1 = tuple(0)    # this will raise an error because 0 is not iterable
print(type(my_tuple1))

TypeError: 'int' object is not iterable

In [ ]:
my_tuple2 = tuple(1,0)    
print(type(my_tuple2))

TypeError: tuple expected at most 1 argument, got 2

In [135]:
my_tuple1 = tuple([1])
print(type(my_tuple1))
print(my_tuple1)

<class 'tuple'>
(1,)

In [136]:
my_tuple2 = tuple([1,2])
print(type(my_tuple2))
print(my_tuple2)

<class 'tuple'>
(1, 2)

In [137]:
my_tuple3 = ()
print(type(my_tuple3))

<class 'tuple'>

In [138]:
my_tuple3 = (0)
print(type(my_tuple3))
my_tuple3 = ([0])
print(type(my_tuple3))
my_tuple3 = ([1,0])
print(type(my_tuple3))
my_tuple3 = (1,0)
print(type(my_tuple3))

<class 'int'>
<class 'list'>
<class 'list'>
<class 'tuple'>

In [139]:
# Create Tuple

contact = ("abed", "555-1234", "abed@gmail.com",1)
print(contact)
print(type(contact))

('abed', '555-1234', 'abed@gmail.com', 1)
<class 'tuple'>

In [140]:
# Read

print(contact[0])
print(type(contact[0]))

abed
<class 'str'>

In [ ]:
# no update --> cannot modify
contact[0] = "ahmed"  # this will raise an error because tuples are immutable

TypeError: 'tuple' object does not support item assignment

In [142]:
# Check if element exists
contact = ("abed", "555-1234", "abed@gmail.com")
print("abed" in contact)
print("Abed" in contact)

True
False

In [ ]:
del my_tuple[0]  # this will raise an error because tuples are immutable

NameError: name 'my_tuple' is not defined

In [143]:
# delete tuple

my_tuple =(1,2,3)
del my_tuple



---


Task #4:

Create a tuple and print the last element


---

In [145]:
my_tuple = tuple(['a' , 15 , 13.7 , True, 'hello'])
print(f"The last element is {my_tuple[-1]}")

The last element is hello

# Sets

*   Python sets use curly braces {} to contain and organize items.
*   Unordered: Items have no specific sequence (can't be indexed).


*   Unchangeable (in terms of items): Once added, individual items cannot be changed, but you can add or remove items from the set as a whole.
*   No Duplicates: Sets automatically remove duplicate items, so each item is unique.


---
CRUD Operations:
   - Create: `st = {1, 2, 3, 4, 5}`
   - Read: We can't access or change an element of a set using indexing or slicing due to the unordered nature of sets. We can loop through the set or check if an item exists.
   - Update: `st.add(6)` (This adds element 6 to the set.); `st.update([7, 8])` (This adds elements 7 and 8 to the set.)
   - Delete: `st.remove(1)` (This removes element 1 from the set. If the item does not exist, it raises an error.); `st.discard(2)` (This removes element 2 from the set. If the item does not exist, it does not raise an error.)

In [159]:
my_set = {}
print(type(my_set))  
my_set = {1}
print(type(my_set))  
my_set = set()  
print(type(my_set))
my_set = set([1,2,3])
print(type(my_set))
print(my_set)

<class 'dict'>
<class 'set'>
<class 'set'>
<class 'set'>
{1, 2, 3}

In [160]:
# Set Creation
my_set = { 2, 3, 2, 1 , 1 , 1 , 1 , 1 , 1}
print(my_set)

{1, 2, 3}

# Set built-in functions

In [161]:
# adding elements
courses = {"DL","ML","Python"}
print(courses)

courses.add("SQL")
courses.add("ML") # won't be added because it exists.
print(courses)

{'Python', 'DL', 'ML'}
{'Python', 'DL', 'SQL', 'ML'}

In [165]:
my_set = {1, 2, 3}
another_set = {4, 5, 6, 1}
# add multiple elements using update
my_set.update(another_set) # no duplicates

print(my_set)
print(another_set)

{1, 2, 3, 4, 5, 6}
{1, 4, 5, 6}

In [166]:
another_set.update(my_set)
print(another_set)

{1, 2, 3, 4, 5, 6}

In [170]:
# Removing elements

courses = {"DL","ML","Python","SQL"}
print(courses)
course = courses.pop() # removes the first element in the set depending on the hash value 
print(course)
print(courses)
course = courses.pop() 
print(course)
print(courses)

{'Python', 'DL', 'SQL', 'ML'}
Python
{'DL', 'SQL', 'ML'}
DL
{'SQL', 'ML'}

In [ ]:
# Remove a specific element from the set. If the element is not found, it raises a KeyError
my_set = {1, 2, 3, "SQL"}
my_set.remove(2)
print(my_set)

{1, 3, 'SQL'}

In [172]:
my_set.remove(6)

KeyError: 6

In [173]:
# discard(): also removes a specific element from the set. Unlike remove(), it does not raise an error if the element is not found.
my_set = {1, "python", 2, 3,"ammar"}
my_set.discard("python")
my_set

{1, 2, 3, 'ammar'}

In [174]:
my_set.discard(6)
print(my_set)

{1, 2, 3, 'ammar'}

In [175]:
# Combining two sets

set1 = {1, 2, 3}
set2 = {3, 4, 5}
result = set2.union(set1)
print(result)

{1, 2, 3, 4, 5}

In [176]:
# intersection(sets): Returns a new set with elements common to the set and any additional sets provided.
set1 = {1, 2, 3}
set2 = {2, 3, 4}
result = set1.intersection(set2)
print(result)

{2, 3}

In [177]:
# difference: Returns a new set with elements in the set that are not in any of the additional sets provided
set1 = {1, 2, 3}
set2 = {2, 3, 4}
result = set1.difference(set2)
print(result)

{1}

In [178]:
result = set2.difference(set1)
print(result)

{4}

In [179]:
# symmetric_difference: Returns a new set with elements in either the set or the provided set

set1 = {1, 2, 3}
set2 = {2, 3, 4}
result = set1.symmetric_difference(set2)
print(result)

{1, 4}

In [180]:
# Check if element exists

my_set = {1, 2, 3}
a = "1" in my_set
print(a)

False

In [181]:
b = 1 in my_set
print(b)

True

In [182]:
# delete set
my_set = {1,2,3}
del my_set



---

Task 5:

Create and Add Elements to a Set


*   Create an empty set named my_set
*   Add the elements 1, 2, and 3 to my_set
*   Print the updated set


---


Task 6:

Check element in a Set


*   Create set named my_set with the elements 1, 2, 3, and 4
*   Check if the element 2 is in my_set and print the result
*   Check if the element 5 is in my_set and print the result
---



Task 7
* create 2 sets A , B
 --> A {'red' , 'blue' , 'green'}
 --> B {'red', 'pink' , 'yellow'}

 and apply the following

 * Apply union and print the result

 * Apply intersection and print the result

 * Apply difference and print the result

 * Apply union and save the value on B set

 * delete all sets

In [188]:
# Task 5
my_set = set()
print(type(my_set))

my_set.add(1)
my_set.add(2)
my_set.add(3)

print(f"The updated set: {my_set}")

<class 'set'>
The updated set: {1, 2, 3}

In [ ]:
# Task 6
my_set = {1, 2, 3, 4}

print(2 in my_set)
print(5 in my_set)

True
False

In [195]:
# Task 7
A = {'red', 'blue', 'green'}
B = {'red', 'pink', 'yellow'}

print(A.union(B))
print(A.intersection(B))
print(A.difference(B))

B=A.union(B)
print(B)

del A,B

{'blue', 'green', 'pink', 'red', 'yellow'}
{'red'}
{'blue', 'green'}
{'blue', 'green', 'pink', 'red', 'yellow'}

# Dictionary

*   Python dictionaries use curly braces {} with key-value pairs to organize items.

* It is unordered, changeable, and indexed by keys.

*   Changeable: You can modify, add, or remove key-value pairs after the dictionary is created.

*   No Duplicates (in keys): Each key must be unique; you cannot have duplicate keys, but values can be duplicated.

---

CRUD Operations:
   - Create: `d = {"one": 1, "two": 2, "three": 3}`
   - Read: `d["one"]` (This returns the value of the key "one".)
   - Update: `d["one"] = 10` (This changes the value of the key "one" to 10.)
   - Delete: `del d["one"]` (This removes the key-value pair with the key "one".)

In [ ]:
# Create an empty dictionary

my_dict = dict() #or my_dict = {}

In [197]:
Dict = {"name": "batool",
        "age": 23,
        "name": "Ahmad"}
print(Dict)

{'name': 'Ahmad', 'age': 23}

In [199]:
my_dict = {"name": "Omar",
           "age": 30,
           "city": "Amman" ,
           "salary":30,
           "name":"Ammar"} # note that no key duplicates
print(my_dict)

{'name': 'Ammar', 'age': 30, 'city': 'Amman', 'salary': 30}

In [200]:
# Read

my_dict = {"name": "Omar", "age": 30, "city": "Amman"}

# access a value
print(my_dict['city'])

Amman

In [201]:
#storing to a variable
name = my_dict["name"]
print(name)

Omar

In [202]:
# adding a new key-value pair
my_dict["email"] = "omar@gmail.com"
print(my_dict)

{'name': 'Omar', 'age': 30, 'city': 'Amman', 'email': 'omar@gmail.com'}

In [203]:
# Update
# updating the value for an existing key
my_dict["age"] = 31

print(my_dict)

{'name': 'Omar', 'age': 31, 'city': 'Amman', 'email': 'omar@gmail.com'}

In [ ]:
# no key duplicates

my_dict = {"name":"omar", "name":"noor","name":"abed", "Name":"karam"} # takes the last value for the key "name"
print(my_dict)

{'name': 'abed', 'Name': 'karam'}

# Dictionary built-in functions

In [213]:
# removing items
my_dict = {"a": {1,2}, "b": 2}
value = my_dict.pop("b")

print(value)
print(my_dict)

2
{'a': {1, 2}}

In [214]:
value = my_dict.pop("a") 
print(value)

{1, 2}

In [215]:
value = my_dict.pop("a") # this will raise an error if the key does not exist
print(value)

KeyError: 'a'

In [ ]:
car = {"brand": "Ford","model": "Mustang","year": 1964}

new = car.popitem() # removes last key-value pair which can be stored in a variable as a tuple
print(type(new))
print(list(new)) 
print(car)

<class 'tuple'>
['year', 1964]
{'brand': 'Ford', 'model': 'Mustang'}

In [221]:
# Getting All Keys
my_dict = {"name": "Omar", "age": 30, "city": "Amman", "name": "Batool"}
keys = my_dict.keys()
print(keys)
print(list(keys))
print(type(keys))

dict_keys(['name', 'age', 'city'])
['name', 'age', 'city']
<class 'dict_keys'>

In [222]:
# How to get all values ?
my_dict = {"name": ["Omar", "Batool"], "age": [30, 23], "city": ["Amman", "Irbid"]}
values = my_dict.values()
print(values)
print(list(values))
print(type(values))

dict_values([['Omar', 'Batool'], [30, 23], ['Amman', 'Irbid']])
[['Omar', 'Batool'], [30, 23], ['Amman', 'Irbid']]
<class 'dict_values'>

In [223]:
# Updating multiple values

my_dict = {"name": "Omar", "age": 30, "city": "Amman"}
my_dict.update({"name":"Abed", "phone_number": 555111})
print(my_dict)

{'name': 'Abed', 'age': 30, 'city': 'Amman', 'phone_number': 555111}

In [225]:
# checking if a Key Exists
my_dict = {"name": "Omar", "age": 30, "city": "Amman"}

print("name" in my_dict)
print("phone" in my_dict)
print(30 in my_dict)

True
False
False



---
Task 8:

- Create a dictionary named student store his name, course , age with thier associated values
- Use update function to edit the age, add another item (phone_number)
- Delete the course key

In [228]:
student = {"name" : "Ameen" , "course" : 'python' , "age" : 22}
print(student)

student.update({"age" : 21 , "phone" : "555-1234"})
print(student)

del student["course"]
print(student)

{'name': 'Ameen', 'course': 'python', 'age': 22}
{'name': 'Ameen', 'course': 'python', 'age': 21, 'phone': '555-1234'}
{'name': 'Ameen', 'age': 21, 'phone': '555-1234'}

# Great Job